.code-layout {
  display: flex;
  height: 100vh;
  background-color: #1e1e2f;
}

.question-panel {
  width: 50%;
  padding: 20px;
  overflow-y: auto;
  color: white;
  background-color: #2a2f45;
  border-right: 1px solid #444;
}

.editor-panel {
  width: 50%;
  padding: 20px;
  background-color: #1e1e2f;
}
